#nav-container
{
    background-color: #fa359f;
}

.navbar-brand
{
    font-family: fantasy;
}

.btn 
{
    margin: 7px;
    color: #000000;
    font-size: 20px;
    border: 1px solid black;
}

.nav-link
{
    font-size: 20px;
    margin: 5px;
}
.nav-link:hover
{
    transform: translateY(-10px);
    transition: 1s;
}

.brand-img
{
    height: 45px;
    width: 60px;
}