.footer-container
{
    background-color: #fa359f;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 20px;

}

.quick-link
{
    text-decoration: none;
    color: black;
  
}

.footer-club-img
{
    margin: 30px auto;
    height: 170px;
    width: 170px;
    border-radius: 15px;
    box-shadow: 3px 3px 8px 2px black;
}


.footer-icons
{
    
    width: 50px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px 2px black;
}

.footer-icons:hover
{
    transform: translate(2px);
}



