.card-img
{
    height: 634px;
}




.Card-Container
{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.main-head
{
    font-size: 55px;
    font-family: cursive;
    color: #fff;
    
}
.white
{
    color: #fff;
    font-size: 20px;
}

.bgColor
{
    background-color: #47453e;
    padding: 30px;
}

.dropdown-information
{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
    padding: 10px;
    font-size: 25px;
}

.trainer-container
{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}


    .trainer-img-home
    {
        width: 500px;
        border-radius: 10px;
        display: block;
        
    }
    